@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.scroll-top {
  position: fixed;
  bottom: 6.5rem; // Posicionado arriba del botón de WhatsApp
  right: 2.5rem;
  background-color: rgba($primary-color, 0.9);
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;

  &__icon {
    width: 50px !important;
    height: 50px !important;
  }

  &:hover {
    background-color: $primary-color;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}